html, body, .container, #sidebar, #mapcontainer {
  height: 100%;
  margin: 0px;
  padding: 0px
}

.container {
  display: flex;
}


 #mapcontainer {
  flex-grow: 1;
}
html {
font-family: 'Calibri', sans-serif;
}

/* get rid of the browser's default margin and padding around the body */
body {
  margin: 0px;
  padding: 0px;
}

/* absolute position the map container as full screen, leaving 300 pixels on the left */
 #mapcontainer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 350px;
   /* width: 100px;
     z-index: 0; */
 }

/* h3 {
  margin-top: 0;
  font-size: 1.8rem;
}
h1 {
  margin-top: 0;
  font-size: 1.8rem;
} */
.mapboxgl-marker:hover {
  cursor: pointer;
}

 /* on hover, make the background darker and turn the cursor to a pointer */ */
button:hover {
  cursor: pointer;
  background-color: #ffffff;
}



/* sidebar is fixed with and positioned to the left */
#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 350px;
  background-color: #630FD1;
  color: #EDE342;
  padding: 0px;
  box-sizing: border-box;
}

#menu {
  background: #FAAE7B;
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 10px;
  border-radius: 3px;
  border: 2px solid black;
  width: 120px;
  height: 0px;
  border: 0px solid rgba(0, 0, 0, 0.4);
  font-family: 'Open Sans', sans-serif;
  align-content: center;
}

#menu a {
  font-size: 14px;
  display: block;
  margin: 10;
  padding: 10px;
  text-decoration: none;
  border-width: 1px;
  border: 2px solid black;
  text-align: center;
  align-content: center;
}

/* #menu a:last-child {
  border: none;
    background-color: #FAAE7B
} */

#menu a:hover {
  background-color: #FAAE7B;
  color: white;
  border: 2px solid black;
   }
 #menu a.active {
  background-color: #FAAE7B
;
border: 2px solid black;
}

#menu a.active:hover {
  background: #EDE342;
  background-color: #EDE342;
border: 2px solid black;
}
